<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="/<%= src %>" alt="">
        <h2>
            <%= userid %>님 환영합니다!
        </h2> <br>
        <span>비밀번호: <%= userpw %></span> <br>
        <span>이름: <%= username %></span> <br>
        <span>나이: <%= userage %></span> <br>
    </div>
</body>

</html>