<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span {
            color: lightsalmon;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <h1><%= title %></h1>
    <div><span><%= userInfo.name %></span>님 환영합니다!</div>
    <div>성별은<span><%= userInfo.gender %></span>입니다.</div>
    <div>생년월일은
        <span><%= userInfo.year %>년</span>
        <span><%= userInfo.month %>월</span>
        <span><%= userInfo.day %>일</span>
        입니다.</div>
    <div>관심사는<span><%= userInfo.interest %></span>입니다.</div>
    <br>
    <br>
    <a href="/">홈으로 이동하기</a>
</body>
</html>