<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/setup/head.ejs') %>
  <link rel="stylesheet" href="/st/board.css">
<body>
  <%- include('partials/component/signInHeader.ejs') %>
  <!-- <%- include('partials/component/chatComponent.ejs') %> -->
  <div class="container">
    <button class="open_modal_btn write-btn">게시글 작성</button>
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>제목</th>
          <th>작성자</th>
          <th>등록일</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(board => { %>
        <tr>
          <td><%= board.board_id %></td>
          <td><a href="/board/<%= board.board_id %>"><%= board.board_title %></a></td>
          <td><%= board.member.member_name %></td>
          <td><%= board.createdAt %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <%- include('partials/component/boardModal.ejs')  %>
</body>
  <%- include('partials/setup/tail.ejs') %>
  <script src="/sc/board.js"></script>
</html>